* {
    margin: 0;
    padding: 0;
    }

body {
    background-color: aliceblue;
    color:rgb(75, 33, 33);
    height: 100vh;
    box-sizing: border-box;
}

.encriptador{
    display: flex;
    align-items:center;
    margin: 5%;
    justify-content: space-between;

}

.encriptador__contenido{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 5%;
    
}

.encriptador__advertencia{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.encriptador__botones{

    display: flex;
    justify-content: space-between;
}
